@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Esta es una aplicación web que puedes usar para el manejo de tus estudiantes y maestros, llevar
    registros de notas de cada estudiante y sus materias, así como buscar por nombre completo y ordenar los registros
    de forma alfabética.</p>
    <p><a href="https://github.com/SergioMazariego/CRUD-DOTNET" class="btn btn-primary btn-lg">Codigo fuente</a></p>
</div>
