@model IEnumerable<Udemy.Models.Maestro>

<select class="form-control" id="IDMaestro" name="IDMaestro">
    @foreach (var item in Model)
    {
        <option value="@item.ID">@item.Nombres @item.Apellidos</option>
    }
</select>



