@model IEnumerable<Udemy.Models.Materia>

<select class="form-control" id="IDMateria" name="IDMateria">
    @foreach (var item in Model)
    {
        <option value="@item.ID">@item.Nombre</option>
    }
</select>
